@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* #d6e1ff upper wave*/
/* #e0e8ff below wave*/
body {
  font-family: "Red Hat Display";
  background-color: #d6e1ff;
  min-height: 100vh;
  text-align: center;
  padding: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  position: relative;
}
svg {
  position: absolute;
  z-index: -1;
  inset: 0;
  display: hidden;
}
.container {
  border-radius: 20px;
  height: 520px;
  width: 330px;
  margin: 10px 0 50px;

  box-shadow: 0 5px 10px rgba(81, 81, 81, 0.248);
  overflow: hidden;
  background-color: #f8f8ff;
}
.hero {
  height: 150px;
  width: 100%;
}
.hero img {
  height: 100%;
  width: 100%;
}
.text {
  padding: 10px 25px;
}
.text h2 {
  color: #242e53;
  font-weight: 900;
  font-size: 20px;
  margin: 20px;
}
.text p {
  color: #9598aa;
  font-size: 15px;
  margin: 10px;
  line-height: 1.5;
}
.wrapper {
  padding: 10px;
  display: flex;
  border-radius: 15px;

  align-items: center;
  background: #f5f6fb;
  width: 90%;
  margin: 0 auto;
  gap: 10px;
}
.wrapper .col-1 {
  margin-right: 10px;
}
.wrapper p:first-child {
  font-weight: bold;
  color: #242e53;
  font-size: 14px;
}
.wrapper p:nth-child(2) {
  font-size: 12px;
  text-align: left;

  color: #8a8c95;
}
.wrapper a {
  font-size: 14px;
  margin-left: 50px;
  font-weight: bold;
}
.wrapper a:active {
  color: #8297d3;
  text-decoration: none;
}

.cta button {
  color: white;
  background: #382ae1;
  border: none;
  box-shadow: 0 10px 10px rgba(24, 21, 21, 0.227);
  padding: 14px 75px;
  font-size: 12px;
  margin: 15px;
  border-radius: 13px;
  font-weight: bold;
}
.cta button:hover {
  cursor: pointer;
}

.cta a:active button {
  cursor: pointer;
  background-color: #8297d3;
}
.cta a {
  margin-top: 5px;
  color: #6b6d78;
  font-size: 13px;
  font-weight: bold;
  text-decoration: none;
}
.cta a:active {
  color: rgb(47, 47, 47);
}
@media screen and (min-width: 480px) {
  body {
    background-color: #e0e8ff;
  }
  svg {
    display: block;
  }
}
